{ % extends 'store/base.html' %}
{% block content %}
<!-- Cart -->
<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Your Cart</span>
        <div class="qty">3</div>
    </a>
    <div class="cart-dropdown">
        <div class="cart-list">
            <div class="product-widget">
                <div class="product-img">
                    <img src="{{product.image}}" alt="">
                </div>
                <div class="product-body">
                    <h3 class="product-name"><a href="#">{{product.name}}</a></h3>
                    <h4 class="product-price"><span class="qty">1x</span>ksh {{product.name}}</h4>
                </div>
                <button class="delete"><i class="fa fa-close"></i></button>
            </div>

        <div class="cart-summary">
            <small>3 Item(s) selected</small>
            <h5>SUBTOTAL: ksh {{product.price}}</h5>
        </div>
        <div class="cart-btns">
            <a href="#">View Cart</a>
            <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<!-- /Cart -->
{% endblock content %}